.WithDelegate {

}
.WithDelegate-indicator
{
    display: inline-block;
    width:300px;

}
.WithDelegate--indicatorActive > div > div
{
    width: 300px;
    height: 12px;
    background-color: white;
}
.WithDelegate--indicatorActive > div > div
{
    background-color: lightgray;
}
.WithDelegate--indicatorActive .WithDelegate-indicator >div
{
    background-color: green;
    animation-name: withDelegate_indicatorActive;
    animation-duration: 0.2s;
    animation-timing-function: linear;
}
@keyframes withDelegate_indicatorActive{
    from{width: 0px; }
    to{width: 300px; }
}