.WithDelegate {

}
.WithDelegate .row
{
    padding:10px;
}
.WithDelegate .row label
{
    font-weight: 600;
    padding-right: 5px;
}
.WithDelegate  input{

    font-size: 20px;
    width:300px;
    padding:5px;
}

.WithDelegate .indicator
{
    display: inline-block;
    width: 300px;
    height: 18px;
    background-color: white;
}
.WithDelegate--active
{
    background-color: lightgray;
}
.WithDelegate--active .indicator
{
background-color: green;
}