.WithDelegate {

}
.WithDelegate .row
{
    padding:10px;
}
.WithDelegate .row label
{
    font-weight: 600;
    padding-right: 5px;
}
.WithDelegate  input{

    font-size: 20px;
    width:300px;
    padding:5px;
}